.card {
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            color: $color-white;

            &-1 {
                background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
            }            
            
            &-2 {
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            }
        }

        &--back {
            background-color: $color-primary;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }   
    
    &:hover &__side--back {
        transform: rotateY(0);
    }

    //FRONT SIDE STYLING
    &__picture {
        background-size: 100%;
        // background-repeat: no-repeat;
        height: 25rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        &--1 {
            background-image: url(../img/spotryst-artists-sample.png), 
            // linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        }       
        
        &--2 {
            background-image: url(../img/bobross-happy-trees.jpg), 
            // linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }       
        
        &--3 {
            background-image: url(../img/nat-7.jpg),
            linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        }

    }

    &__heading {
        font-size: 4rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, 85), 
            rgba($color-secondary-dark, .85)); 
        }       
        
        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, 85), 
            rgba($color-primary-dark, .85)); 
        }       
        
        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, 85), 
            rgba($color-tertiary-dark, .85)); 
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 2rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    //BACK SIDE STYLING
    &__cta {
        @include absCenter;
        width: 90%;
        text-align: center;
    }

    &__description-box {
        text-align: center;
        color: $color-white;
    }

    &__description-text {
        font-size: 2rem;
        // margin-bottom: 20%;
        // text-transform: uppercase;
    }
    
    &__description-span {
        display: block;
        margin-bottom: 5%;
        // text-transform: uppercase;
    }

    // &__price-value {
    //     font-size: 6rem;
    //     font-weight: 100;
    //     margin-bottom: 8rem;
    // }

    @include respond(tab-port) {
        //FUNCTIONALITY
        height: auto;
        border-radius: 3px;
        // background: #000000;
        // background: -webkit-linear-gradient(120deg, #434343, #000000);  
        // background: linear-gradient(120deg, #434343, #000000);
        // background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                // -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                // clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

                &-1 {
                    background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);     
                }
    
                &-2 {
                    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);     
                }
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }   

        &__details {
            padding: 1rem 3rem;
        }

        //BACK SIDE STYLING
        &__cta {
            // background: #000000;
            // background: -webkit-linear-gradient(120deg, #434343, #000000);  
            // background: linear-gradient(120deg, #434343, #000000);        
            // background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);     
            position: relative;
            top: -20px;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__description-text {
            // margin-bottom: 3rem;
            display: none;
        }

        // &__price-value {
        //     font-size: 4rem;
        //     margin-bottom: 3rem;
        // }
    }

}
