.u-center-text { text-align: center !important; }

.u-center-image {
    left: 82%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.u-logofy {
    width: 10rem;
    height: 3rem;

    &-resume {
        width: 3rem;
    }

    &-footer {
        height: 2rem;
        color: $color-white;
    }
}

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium { 
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
 }

.u-margin-bottom-big { 
    margin-bottom: 8rem !important; 

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important; }

.u-margin-top-huge { margin-top: 10rem !important; }

.u-margin-x-medium {
    margin-left: 2rem !important;
    margin-right: 2rem !important;

    @include respond(tab-port) {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

.u-margin-left { margin-left: 5rem !important ;}

.u-margin-left-small { margin-left: 1rem !important ;}
      

